*,
*::after,
*::before{
    box-sizing: border-box;
}

@media only screen and (min-width: 0px) {

    .sm-1 {width: 8.33%;}
    .sm-2 {width: 16.66%;}
    .sm-3 {width: 25%;}
    .sm-4 {width: 33.33%;}
    .sm-5 {width: 41.66%;}
    .sm-6 {width: 50%;}
    .sm-7 {width: 58.33%;}
    .sm-8 {width: 66.66%;}
    .sm-9 {width: 75%;}
    .sm-10 {width: 83.33% !important;}
    .sm-11 {width: 91.66%;}
    .sm-12 {width: 100%;}
}

@media only screen and (min-width: 600px) {

    .md-1 {width: 8.33%;}
    .md-2 {width: 16.66%;}
    .md-3 {width: 25%;}
    .md-4 {width: 33.33%;}
    .md-5 {width: 41.66%;}
    .md-6 {width: 50% !important;}
    .md-7 {width: 58.33%;}
    .md-8 {width: 66.66%;}
    .md-9 {width: 75%;}
    .md-10 {width: 83.33%;}
    .md-11 {width: 91.66%;}
    .md-12 {width: 100%;}
}

@media only screen and (min-width: 1000px) {


    .lg-1 {width: 8.33%;}
    .lg-2 {width: 16.66%;}
    .lg-3 {width: 25%;}
    .lg-4 {width: 33.33%;}
    .lg-5 {width: 41.66%;}
    .lg-6 {width: 50%;}
    .lg-7 {width: 58.33%;}
    .lg-8 {width: 66.66%;}
    .lg-9 {width: 75%;}
    .lg-10 {width: 83.33%;}
    .lg-11 {width: 91.66%;}
    .lg-12 {width: 100%;}
}

.profileHead-parent{
    width: 100%;
    height: 150px;
    background-color: rgb(219, 213, 206);
    display: flex;
    justify-content: space-between;
}

.profileHead-parent .profile-picture{
    height: 100%;
    width: 400px;
}

.profile-picture #yourPicture{
    width: 140px;
    height: 100%;
    margin-left: 35px;
    border: solid 1px gray;
    border-radius: 5px;
}

#yourPicture img{
    width: 100%;
    height: 100%;
}

.profileHead-parent .profile-buttons{
    width: 500px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    direction: rtl;
}

.profile-buttons button{
    width: 200px;
    height: 35px;
    border: none;
    border-radius: 5px;
    color: white;
}

#edit{
    background-color: green;
}

#out{
    background-color: red;
}

.info-parent{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.info-parent .information-panel{
    width: 500px;
    border: solid 1px gainsboro;
    border-radius: 10px;
    background-color: gray;
}

.information-panel .row-info{
    margin: 5px;
    display: flex;
    height: 50px;
    border: 5px;
}

.row-info .title{
    width: 30%;
    height: 100%;
    font-weight: bold;
    padding-left: 5px;
    display: flex;
    align-items: center;
}

.row-info .value{
    width: 70%;
    height: 100%;
    padding-left: 5px;
    display: flex;
    align-items: center;
}

.information-panel .panel-buttons{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    display: none;
}

.panel-buttons button{
    width: 130px;
    height: 30px;
    border: solid 1px black;
    border-radius: 3px;
    color: white;
}

.panel-buttons .submit-edit{
    background-color: royalblue;
}

.panel-buttons .cancel-edit{
    background-color: red;
}